[Desktop Entry]
Categories=AudioVideo;Player;
Comment=Play your video collection
Exec=deepin-movie %U
GenericName=Media Player
Icon=deepin-movie
MimeType=
Name=Deepin Movie
StartupNotify=true
Type=Application



# Translations
Comment[am]=የ እርስዎን የ ቪዲዮ ስብስብ ያጫውቱ
GenericName[am]=መገናኛ ማጫወቻ
Name[am]=ሙቪ
Comment[ar]=شغل مجموعة الفيديو الخاصة بك
Name[ar]=أفلام دييبن
Comment[az]=Video kolleksiyavı oynat
Name[az]=Deepin Film
Comment[cs]=Přehrávejte svoji sbírku obrazových záznamů
GenericName[cs]=Přehrávač
Name[cs]=Filmy
Comment[da]=Afpil din videosamling
GenericName[da]=Media Afspiller
Name[da]=Deepin Film
Comment[de]=Wiedergeben Ihrer Videokollektion
GenericName[de]=Medienspieler
Name[de]=Deepin Film
Comment[el]=Παίξτε τη βίντεο συλλογή σας
GenericName[el]=Αναπαραγωγή Πολυμέσων
Name[el]=Ταινίες Deepin
Comment[es]=Reproduce tu vídeo colección
GenericName[es]=Reproductor Multimedia
Name[es]=Deepin Movie
Comment[fi]=Toista videokokoelma
Name[fi]=Deepin Elokuva
Comment[fr]=Lisez votre collection de videos
GenericName[fr]=Lecteur multimédia
Name[fr]=Deepin Film
Comment[es_CL]=Reproduce tu colección de vídeo
Name[es_CL]=Películas Deepin
Comment[he]=נגן את אוסף הוידאו שלך
GenericName[he]=נגן מדיה
Name[he]=נגן הסרטים של Deepin
Comment[hr]=Reproducirajte svoju videoteku
GenericName[hr]=Medijski reproduktor
Name[hr]=Deepin filmski reproduktor
Comment[hu]=Videógyűjtemény lejátszása
GenericName[hu]=Médialejátszó
Name[hu]=Deepin Film
Comment[hy]=Նվագել ձեր վիդեո հավաքածուն
Name[hy]=Deepin Ֆիլմեր
Comment[id]=Mainkan koleksi video
GenericName[id]=Pemutar Musik
Name[id]=Pemutar Video Deepin
Comment[it]=Esegui la tua collezione video
GenericName[it]=Media Player
Name[it]=Deepin Movie
Comment[ja]=ビデオコレクションの再生
Name[ja]=Deepinビデオプレイヤー
Comment[es_PE]=Reproducir su colección de vídeos
Comment[ms]=Main koleksi video
Name[ms]=Wayang Deepin
Comment[nl]=Uw videocollectie afspelen
GenericName[nl]=Mediaspeler
Name[nl]=Deepin Video
Comment[es_419]=Reproducir tu colección de videos
Name[es_419]=Peliculas Deepin
Comment[pl]=Odtwórz kolekcję wideo
GenericName[pl]=Odtwarzacz mediów
Name[pl]=Filmy Deepin
Comment[pt]=Reproduzir a sua coleção de videos
GenericName[pt]=Reprodutor de Mídia
Name[pt]=Filme Deepin
Comment[pt_BR]=Reproduza tua coleção de vídeos
GenericName[pt_BR]=Reprodutor de Mídia
Name[pt_BR]=Deepin Movie
Comment[ro]=Redă colecția ta video
GenericName[ro]=Player-ul Media
Name[ro]=Player-ul video Deepin
Comment[ru]=Просмотр видео-коллекции
GenericName[ru]=Медиаплеер
Name[ru]=Deepin Movie
Comment[sk]=Prehrávajte svoju zbierku video záznamov
GenericName[sk]=Prehrávač medií
Name[sk]=Deepin Filmy
Comment[sl]=Predvajajte svojo video zbirko
Name[sl]=Deepin Filmi
Comment[tr]=Video koleksiyonunu oynat
GenericName[tr]=Medya Oynatıcı
Name[tr]=Deepin Film
Name[uk]=Відео Deepin
Comment[zh_CN]=为您播放本地及网络视频
GenericName[zh_CN]=多媒体播放器
Name[zh_CN]=深度影院
Comment[zh_TW]=為您播放本機和網路的影片
GenericName[zh_TW]=多媒體播放器
Name[zh_TW]=深度劇院
Comment[es_AR]=Reproducir colección de Videos
Name[es_AR]=Películas Deepin
Name[es_MX]=Deepin Movie
Comment[en_AU]=Play your video
GenericName[en_AU]=Media Player
Name[en_AU]=Deepin Movie
Comment[es_ES]=Reproducir tu Biblioteca de Videos
Name[es_ES]=Películas Deepin
