[Desktop Entry]
Categories=AudioVideo;Player;
Comment=Play your video collection
Exec=deepin-movie %U
GenericName=Media Player
Icon=deepin-movie
Name=Deepin Movie
StartupNotify=true
Type=Application

# Translations:
# Do not manually modify!
Comment[am]=የ እርስዎን የ ቪዲዮ ስብስብ ያጫውቱ
Comment[am_ET]=የ እርስዎን የ ቪዲዮ ስብስብ ያጫውቱ
Comment[ar]=شغل مجموعة الفيديو الخاصة بك
Comment[ast]=Reproduz la to coleición de videos
Comment[az]=Video kolleksiyavı oynat
Comment[bg]=Преглед на вашата видео колекция
Comment[bn]=আপনার ভিডিও চালু করুন
Comment[ca]=Reproduïu la col·lecció de música
Comment[cs]=Přehrávejte svoji sbírku obrazových záznamů
Comment[da]=Afspil din videosamling
Comment[de]=Wiedergeben Ihrer Videosammlung
Comment[el]=Παίξτε τη βίντεο συλλογή σας
Comment[en_AU]=Play your video
Comment[eo]=Ludi vian videojn kolekton
Comment[es]=Reproducir tu colección de vídeos
Comment[es_419]=Reproduce tu colección de videos
Comment[es_AR]=Reproducir colección de Videos
Comment[es_CL]=Reproduce tu colección de vídeo
Comment[es_ES]=Reproducir tu Biblioteca de Videos
Comment[es_PE]=Reproducir su colección de vídeos
Comment[fi]=Toista videokokoelma
Comment[fil]=Manood ng mga video
Comment[fr]=Lisez votre collection de videos
Comment[gl_ES]=Reproduce a túa colección de vídeo
Comment[he]=נגן את אוסף הוידאו שלך
Comment[hi_IN]=अपने वीडियो संग्रह चलाओ
Comment[hr]=Izvodite vašu video kolekciju
Comment[hu]=Videógyűjtemény lejátszása
Comment[hy]=Նվագել ձեր վիդեո հավաքածուն
Comment[id]=Mainkan koleksi video
Comment[it]=Esegui la tua raccolta video
Comment[ja]=ビデオコレクションの再生
Comment[ko]=동영상 컬렉션을 재생하세요
Comment[lt]=Groti savo vaizdo kolekciją
Comment[ms]=Main koleksi video
Comment[nb]=Spill av videosamlingen din
Comment[nl]=Uw videocollectie afspelen
Comment[pl]=Odtwórz kolekcję filmów
Comment[pt]=Reproduzir a sua coleção de videos
Comment[pt_BR]=Reproduza tua coleção de vídeos
Comment[ro]=Redă colecția ta video
Comment[ru]=Просмотр вашей видео-коллекции
Comment[sk]=Prehrávajte svoju zbierku video záznamov
Comment[sl]=Predvajajte svojo video zbirko
Comment[sr]=Гледајте вашу видео колекцију
Comment[sv]=Spela din filmsamling
Comment[ta]=புதுச் சாளரம்
Comment[tr]=Video koleksiyonunu oynat
Comment[uk]=Відтворити колекцію відео
Comment[zh_CN]=为您播放本地及网络视频
Comment[zh_HK]=播放你收藏的影片
Comment[zh_TW]=播放存於電腦的影片
GenericName[am]=መገናኛ ማጫወቻ
GenericName[am_ET]=መገናኛ ማጫወቻ
GenericName[ar]=مشغل الوسائط
GenericName[ast]=Reproductor multimedia
GenericName[az]=Medya Oynadıcı
GenericName[bg]=Мултимедиен плеър
GenericName[bn]=মিডিয়া প্লেয়ার
GenericName[ca]=Reproductor multimèdia
GenericName[cs]=Přehrávač
GenericName[da]=Medieafspiller
GenericName[de]=Medienspieler
GenericName[el]=Αναπαραγωγή Πολυμέσων
GenericName[en_AU]=Media Player
GenericName[eo]=Mediludanto
GenericName[es]=Reproductor multimedia
GenericName[es_419]=Reproductor Multimedia
GenericName[fi]=Mediasoitin
GenericName[fil]=Media Player
GenericName[fr]=Lecteur multimédia
GenericName[gl_ES]=Reprodutor de medios
GenericName[he]=נגן מדיה
GenericName[hi_IN]=मीडिया चालक
GenericName[hr]=Medijski reproduktor
GenericName[hu]=Médialejátszó
GenericName[id]=Pemutar Musik
GenericName[it]=Media Player
GenericName[ja]=メディアプレーヤー
GenericName[ko]=미디어 재생기 
GenericName[lt]=Medijos grotuvas
GenericName[ms]=Pemain Media
GenericName[nb]=Media avspiller
GenericName[nl]=Mediaspeler
GenericName[pl]=Odtwarzacz mediów
GenericName[pt]=Reprodutor de Média
GenericName[pt_BR]=Reprodutor de mídia
GenericName[ro]=Player-ul Media
GenericName[ru]=Медиаплеер
GenericName[sk]=Prehrávač medií
GenericName[sl]=Medijski predvajalnik
GenericName[sv]=Mediaspelare
GenericName[tr]=Medya Oynatıcı
GenericName[uk]=Медіа Програвач
GenericName[zh_CN]=多媒体播放器
GenericName[zh_HK]=媒體播放器
GenericName[zh_TW]=影片播放器
Name[am]=ሙቪ
Name[am_ET]=ሙቪ
Name[ar]=أفلام دييبن
Name[ast]=Películes Deepin
Name[az]=Deepin Film
Name[bg]=Deepin Филми
Name[bn]=ডিপিন মুভি
Name[ca]=Pel·lícula del Deepin
Name[cs]=Filmy
Name[da]=Deepin film
Name[de]=Deepin Film
Name[el]=Ταινίες Deepin
Name[en_AU]=Deepin Movie
Name[eo]=Deepin Filmujo
Name[es]=Películas Deepin
Name[es_419]=Películas Deepin
Name[es_AR]=Películas Deepin
Name[es_CL]=Películas Deepin
Name[es_ES]=Películas Deepin
Name[es_MX]=Deepin Movie
Name[fa]=Deepin Movie (نرم افزار تماشای فیلم دیپین)
Name[fi]=Deepin Elokuva
Name[fil]=Deepin Music
Name[fr]=Deepin Film
Name[gl_ES]=Filmes
Name[he]=נגן הסרטים של Deepin
Name[hi_IN]=डीपइन चलचित्र
Name[hr]=Deepin filmski reproduktor
Name[hu]=Deepin Film
Name[hy]=Deepin Ֆիլմեր
Name[id]=Pemutar Video Deepin
Name[it]=Deepin Movie
Name[ja]=Deepinビデオプレイヤー
Name[ko]=Deepin Movie 
Name[lt]=Deepin filmas
Name[ms]=Wayang Deepin
Name[nb]=Deepin film
Name[nl]=Deepin Video
Name[pl]=Filmy Deepin
Name[pt]=Deepin Movie
Name[pt_BR]=Deepin Movie
Name[ro]=Player-ul video Deepin
Name[ru]=Кинотеатр Deepin
Name[sk]=Deepin Filmy
Name[sl]=Deepin Filmi
Name[sr]=Deepin Филм
Name[sv]=Deepin-film
Name[tr]=Deepin Film
Name[uk]=Відео Deepin
Name[vi]=Trình xem phim Deepin
Name[zh_CN]=深度影院
Name[zh_HK]=Depein 電影
Name[zh_TW]=Deepin 電影

