Source: deepin-movie
Section: misc
Priority: extra
Maintainer: Li Longyu (Ai Kotoba) <leaeasy@gmail.com>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com

Package: deepin-movie
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 python-pyqt5,
 mediainfo,
 qt5-extra,
 python-ass,
 python-pysrt,
 python-xpyb,
 python-magic,
 python-xpybutil,
 deepin-menu (>= 1.1+20140730105532),
 deepin-qml-widgets
Description: deepin movie for linuxdeepin desktop environment
 Deepin movie with linuxdeepin desktop environment.
